default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: password
  host: localhost
  port: 5432

development:
  <<: *default
  database: refei_tech_Teste
