/*
<<<<<<< HEAD
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
=======
 *= require_tree .
 *= require_self
*/

/* Você pode adicionar regras de estilo globais aqui */
body {
    background: yellow;
    margin-top: 80px;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: yellow;
    height: 65px;
    text-align: center;
    margin: 0; /* Remove qualquer margem que possa estar desalinhando o cabeçalho */
    position: fixed; /* Fixa o cabeçalho no topo da página */
    top: 0;
    left: 0;
}
header h1{
    margin-top: 15px;
    color: white;
}
.content {
  padding: 0px;
  margin-left: 20px;
}
>>>>>>> 88ac1b4 (teste)
