<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <%= stylesheet_link_tag 'profile', media: 'all' %>
</head>
<body class="profile-page">

    <header class="header">
        <h1>Perfil</h1>
        <button id="back-button" class="button">Voltar</button>
    </header>

    <div class="profile-container">
        <img id="profile-pic" src="<%= @user.profile_picture %>" class="profile-pic">
        <h2 id="user-ra" data-ra="<%= @user.ra %>"></h2>
    </div>

    <%= javascript_include_tag 'profile' %>

</body>
</html>
